@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 2px;
    opacity: 50%;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: white;
  
  }
  
  
  
  ::-webkit-scrollbar-button{
    /* background-color: red; */
    display: none;
  }
body{
    background-color: pink;
}
nav{
    height: 60px;
    background: #333;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    display: fixed;
    overflow: hidden;
    clear: both;
}
nav .logo{
    font-size: 33px;
    color: #fff;
    font-weight: 600;
    margin-left: 0px;
}
nav .logo img{
    height:45px;
}
nav ul{
    display: flex;
    list-style:none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a.cart{
    font-size: 20px;
}
nav ul li a:hover,
nav ul li a.active{
    background: #fff;
    color: #1b1b1b;
}
nav .menu-btn i{
    color: white;
    font-size: 22px ;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}


@media(max-width: 940px){
    
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 60px;
        left: -100%;
        background: #111;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 9;
        text-align: center;
        transition: all 0.7s ease;
    }
    nav ul.active{

    }
    #click:checked  ~ ul{
        left : 0%;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul li{
        margin:20px 0;
    }
    nav ul li a {
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.active{
        background: none;
        color: cyan;
    }
    
}
.title{
  display: block;
  margin-top: auto;
  height: calc(100% - 60px);
}
.title h2{
    
}
#hori{
   display: block;
   margin: 0;
   width: 100%;
   object-fit: cover; 
   visibility: visible;
}
 #ver{
    display: none;
}
.games{
    display: block;
    height:100%;
    
    background: linear-gradient(58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
}
.heading{
    height:10vh;
    justify-content: center;
    align-content: center;
}
.heading h2{
    text-align: center;
    margin-top: 0px;
    font-size: 50px;
    padding-top: 10px; 
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
    height: calc(100% - 20vh);

}
.flex1{
    flex:1;
    display: flex;
    margin: 40px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    flex-direction: column;
}
.flex1 h3{
    font-size: 30px;
    color: purple;    
    padding: 10px;
}
.flex1 p{
    text-align: justify;
}
@media (max-width: 950px){
    .title{
        height: 70%;
    }
    #hori{
        display: none;
    }
    #ver{
        visibility:visible;
        display: block;
        width: 100%;
    }
    .flex {
       display: block;
    }
       .games{
        height: 1690px;
       }
       
}


.tickets{
    background-image: linear-gradient( 180deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
    height: 450px;
padding: 30;
}
.tickets .heading{
    padding-top: 10px;
}
.tickets p{
    text-align: center;
    font-size: 30px;
}
.tickets h4{
    text-align: center;
    font-size: 50px;
}
.tickets .flex1{
    padding: 25px;
    margin: 50px;
    margin-top: 30px;
    align-content: center;
    justify-content: center;
}
@media (max-width:950px) {
    .tickets{
        height: 1000px;
        padding: 0;
      }
}
.about{
    height:75%;
    background-image: radial-gradient( circle farthest-corner at 1.8% 4.8%,  rgba(17,23,58,1) 0%, rgba(58,85,148,1) 90% );
    color: white;
}
.about p{
    font-size: 20px;
    text-align: center;
}

.about .flex{
    

}
.about .flex1{
    margin-left: 120px; 
    margin-right: 120px; 
    justify-content: center;
    align-content: center;
}
.btn{
    margin-top: 10px;
}
.about .team{
    padding: 10px;
    margin: auto;
    font-size: 20px;
    border-radius: 20px;
    align-self: center;
    background-color: transparent;
    border-color: white ;
    cursor: pointer;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);


}
@media (max-width: 950px){
    .about{
        height: 950px;
    }
    .about .flex1{
        margin: 35px;
    }
    .about .team{
        margin-top:-8%;
    }
    
}
.contact{
    height: 25%;
    background: #333;
}
.contact h3{
    text-align: center;
    color: white;
    padding-top: 10px;
}
.contact p{
    text-align: center;
    color: white;
}
.contact a{
   
    color: white;
}
.contact a:active{
    color:white;
}
@media (max-width: 950px){
    .contact{
        height: 33%;
    }
}